<?xml version="1.0"?>
<launch>
   
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros-pcan-integrate)/rviz/physical_robot_pos.rviz"/>

    <node name="socket_client_node" pkg="ros-pcan-integrate" type="socket_client.py" output="screen"/>
    <node name="keyboard_node" pkg="ros-pcan-integrate" type="teleop_twist_keyboard.py" output="screen"/> 
   
</launch>